---
interface Props {
  title: string;
  description: string;
  ctaType: "stripe" | "link";
  stripeId?: string;
  stripeKey?: string;
  linkHref?: string;
  ctaText?: string;
  cardClass?: string;
  price?: string;
  priceUnit?: string;
  priceSubtitle?: string;
}

const {
  title,
  description,
  ctaType,
  stripeId,
  stripeKey,
  linkHref,
  ctaText = "Escríbenos",
  price,
  priceUnit,
  priceSubtitle,
  cardClass = "w-full max-w-md p-8 bg-white rounded-2xl shadow-xl border border-slate-100 flex flex-col items-center text-center h-full",
} = Astro.props;
---

<div class={cardClass}>
  <div
    class="w-16 h-16 bg-emerald-50 text-emerald-600 rounded-full flex items-center justify-center mb-6">
    <slot name="icon" />
  </div>

  <h3 class="text-2xl font-bold text-slate-800 mb-2">
    {title}
  </h3>
  <p class="text-slate-600 mb-6 min-h-[4.5rem]">
    {description}
  </p>

  {
    price && (
      <div class="flex flex-col items-center mb-8">
        <div class="flex items-center gap-2">
          <span class="text-5xl font-extrabold text-slate-900">{price}</span>
          <div class="text-left font-medium text-slate-500 uppercase tracking-tighter leading-tight">
            {priceUnit?.split(" ").map((word) => (
              <p class="text-[0.7rem]">{word}</p>
            ))}
          </div>
        </div>
        {priceSubtitle && (
          <p class="text-sm text-slate-500 mt-2 font-medium">{priceSubtitle}</p>
        )}
      </div>
    )
  }

  <div class="cta-container w-full mb-10">
    {
      ctaType === "stripe" ? (
        <div class="stripe-container w-full flex justify-center">
          <script async src="https://js.stripe.com/v3/buy-button.js" />
          <stripe-buy-button
            buy-button-id={stripeId}
            publishable-key={stripeKey}
          />
        </div>
      ) : (
        <a
          href={linkHref}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-block py-3 px-6 text-center text-white bg-emerald-600 hover:bg-emerald-700 rounded-lg transition-colors shadow-md min-w-[260px]">
          {ctaText}
        </a>
      )
    }
  </div>

  <ul class="text-left w-full space-y-3 mt-auto">
    <slot />
  </ul>
</div>
